.feature_viz {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height:300px;
}

.feature_viz div {
  color:#fff;
  text-align:center;
}

.feature_viz img {
  border-radius: 5%;
  filter: grayscale(30%)
}

.block1 {
  grid-row: 1 / 5;
  grid-column: 1 / 3;
}

.block1 img {
  padding:10px;
  height:300px;
}

.block2 {
  grid-row: 1 / 3;
  grid-column: 3 / 3;
}
.block2 img {
  padding:5px;
  height: 150px;
}


.block3 {
  grid-row: 3 / 5;
  grid-column: 3 / 3;
}

.block3 img {
  padding:5px;
  height: 150px;
}

.block4 {
  grid-column: 1 / 1;
  grid-row: 1 / 3;
}

.block4 img {
  padding: 5px;
  height: 150px;
}

.block5 {
  grid-column: 1 / 1;
  grid-row: 3 / 5;
}

.block5 img {
  padding: 5px;
  height: 150px;
}

.block6 {
  grid-column: 2 / 6;
  grid-row: 1 / 5;
}

.block6 img {
  padding:5px;
  height: 300px;
}
