<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% include head.html %}

<body>

  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main>
  <!-- end content -->

  {% include footer.html %}

  <!-- begin js -->
  <script src="{{ site.baseurl }}/assets/js/vendors/jquery-3.3.1.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendors/aos.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendors/jquery.fitvids.js"></script>
  <script src="{{ site.baseurl }}/assets/js/common.js"></script>
  <!-- end js -->
</body>

</html>
